[root@localhost etc]# vim my.cnf


socket=/home/data/mysql/run/mysql.sock

[client]
default-character-set=utf8mb4

[mysqld]
binlog_expire_logs_seconds=31104000

character-set-client-handshake

character_set_server=utf8mb4
collation-server=utf8mb4_general_ci
init_connect='SET NAMES utf8'

basedir=/usr/local/mysql
socket=/home/data/mysql/run/mysql.sock

tmpdir=/home/data/mysql/tmp
datadir=/home/data/mysql/data
default_authentication_plugin=mysql_native_password
port=3306
user=mysql
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'

log-error=/home/data/mysql/log/error.log
#general_log=1
#general_log_file=/home/data/mysql/log/mysql.log

innodb_buffer_pool_size=20G
innodb_buffer_pool_instances=1


[client]
default-character-set=utf8mb4